<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T1_BHS_OAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T1_BHS_OAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="T1_BHS_OAS.Properties.Settings.T1_BHS_WEB_DB" connectionString="Data Source=192.168.7.229;Initial Catalog=T1_BHS_web;Persist Security Info=True;User ID=sa;Password=1qaz@WSX"
            providerName="System.Data.SqlClient" />
        <add name="T1_BHS_OAS.Properties.Settings.T1_BHS_DB" connectionString="Data Source=192.168.7.229;Initial Catalog=T1_BHS;Persist Security Info=True;User ID=t1bhs;Password=t1bhsdba"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <T1_BHS_OAS.Properties.Settings>
            <setting name="GA_Config" serializeAs="String">
                <value>ga_config</value>
            </setting>
            <setting name="Read_xls" serializeAs="String">
                <value>data source=filepath;provider=Microsoft.ACE.OLEDB.12.0;extended properties='Excel 8.0;HDR=No;IMEX=1;'</value>
            </setting>
            <setting name="Write_xls" serializeAs="String">
                <value>data source=filepath;provider=Microsoft.ACE.OLEDB.12.0;extended properties='Excel 8.0;HDR=No;IMEX=0;'</value>
            </setting>
            <setting name="Read_xlsx" serializeAs="String">
                <value>data source=filepath;provider=Microsoft.ACE.OLEDB.12.0;extended properties='Excel 12.0 Xml;HDR=No;IMEX=1;'</value>
            </setting>
            <setting name="Write_xlsx" serializeAs="String">
                <value>data source=filepath;provider=Microsoft.ACE.OLEDB.12.0;extended properties='Excel 12.0 Xml;HDR=No;IMEX=0;'</value>
            </setting>
            <setting name="PopulationSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Generations" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="StallGenLimit" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FitnessLimit" serializeAs="String">
                <value>1E-07</value>
            </setting>
            <setting name="CrossRate" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SelectFcn" serializeAs="String">
                <value>selection-roulette</value>
            </setting>
            <setting name="CrossoverFcn" serializeAs="String">
                <value>crossover-twopoint</value>
            </setting>
            <setting name="MutatoinFcn" serializeAs="String">
                <value>custom_mutationfcn</value>
            </setting>
            <setting name="OAS_App" serializeAs="String">
                <value>oas_app</value>
            </setting>
            <setting name="TableName_OAS_SQL" serializeAs="String">
                <value>dbo.OAS_SQL</value>
            </setting>
            <setting name="SQLStr_OSA_SQL" serializeAs="String">
                <value>SELECT * FROM {0} WHERE CODE_ID = '{1}'</value>
            </setting>
            <setting name="TableName_ALL_EXE_CONF" serializeAs="String">
                <value>dbo.ALL_EXE_CONF</value>
            </setting>
            <setting name="U_AllExeConf_1" serializeAs="String">
                <value>U_AllExeConf_1</value>
            </setting>
            <setting name="S_AllExeConf_1" serializeAs="String">
                <value>S_AllExeConf_1</value>
            </setting>
            <setting name="TableName_XLSX_FlightData" serializeAs="String">
                <value>sheet1</value>
            </setting>
            <setting name="S_XLSXFlightData_1" serializeAs="String">
                <value>S_XLSXFlightData_1</value>
            </setting>
            <setting name="ReadFileName" serializeAs="String">
                <value>FlightData.xlsx</value>
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value>FlightResult_{0}.csv</value>
            </setting>
            <setting name="ReadFileDirectory" serializeAs="String">
                <value>D:\ASI Project\T1行李自動分揀系統文件(17E3067A)\0P_專案程式\T1BHS_PRJ-OAS\T1_BHS_OAS-General\T1_BHS_OAS\_data</value>
            </setting>
            <setting name="SaveFileDirectory" serializeAs="String">
                <value>D:\ASI Project\T1行李自動分揀系統文件(17E3067A)\0P_專案程式\T1BHS_PRJ-OAS\T1_BHS_OAS-General\T1_BHS_OAS\_result</value>
            </setting>
            <setting name="WebSocket_IP" serializeAs="String">
                <value>ws://0.0.0.0:2323</value>
            </setting>
            <setting name="TableName_GA_CAROUSEL_TABLE_T1" serializeAs="String">
                <value>dbo.GA_CAROUSEL_TABLE_T1</value>
            </setting>
            <setting name="S_GACarouselTableT1_1" serializeAs="String">
                <value>S_GACarouselTableT1_1</value>
            </setting>
            <setting name="TableName_GA_COUNTER_TABLE_T1" serializeAs="String">
                <value>dbo.GA_COUNTER_TABLE_T1</value>
            </setting>
            <setting name="S_GACounterTableT1_1" serializeAs="String">
                <value>S_GACounterTableT1_1</value>
            </setting>
            <setting name="HealthCheck_Time" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="S_LateralConf_1" serializeAs="String">
                <value>S_LateralConf_1</value>
            </setting>
            <setting name="Timeout_PR" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SW_ACC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_RC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_GDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DSC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_FSC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableName_LATERAL_CONF" serializeAs="String">
                <value>dbo.LATERAL_CONF</value>
            </setting>
            <setting name="TableName_MAKEUP_ALLOC" serializeAs="String">
                <value>dbo.MAKEUP_ALLOC</value>
            </setting>
            <setting name="S_MakeupAlloc_1" serializeAs="String">
                <value>S_MakeupAlloc_1</value>
            </setting>
            <setting name="MsgRQ_Retry" serializeAs="String">
                <value>10</value>
            </setting>
        </T1_BHS_OAS.Properties.Settings>
    </applicationSettings>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="LogFiles/"/>　<!--存放log檔案的路徑-->
            <staticLogFileName value="false"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <datePattern value="T1_B\HS_OAS_yyyyMMdd.lo\g"/>　<!--log檔案的命名-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5p %date{yyyy/MM/dd HH:mm:ss} %-20c{1} %-20M %m%n" />
            </layout>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
    </log4net>
    <userSettings>
        <T1_BHS_OAS.Properties.Settings>
            <setting name="Selected_Date" serializeAs="String">
                <value>20191220</value>
            </setting>
        </T1_BHS_OAS.Properties.Settings>
    </userSettings>
</configuration>